name: Publish plan.json

on:
  schedule:
    - cron: "0 11 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - run: python plan_generator.py

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          add: "docs/plan.json"
          message: "Automated: update plan.json"
